<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net  
       http://dozer.sourceforge.net/schema/beanmapping.xsd">
	
	 <mapping>
		<class-a>com.qding.neighbor.domain.Theme</class-a>
		<class-b>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.BriefTheme</class-b>
		<field>
			<a>id</a>
			<b>themeId</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.dto.TopicDetailRpcDTO</class-a>
		<class-b>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.TopicDetail</class-b>
		<field>
			<a>id</a>
			<b>topicId</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.InitPublishTimeConvert">
			<a>createTime</a>
			<b>showTime</b>
		</field>
		<field>
			<a>createTime</a>
			<b>createTime</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.GetTopicImagListConvert">
			<a>topicImage</a>
			<b>topicImage</b>
		</field>
		<field>
			<a>member</a>
			<b>memberInfo</b>
		</field>
		<field>
			<a>themeId</a>
			<b>themeInfo.themeId</b>
		</field>
		<field>
			<a>themeName</a>
			<b>themeInfo.themeName</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.ThemeImgConvert">
			<a>themeImage</a>
			<b>themeInfo.themeImage</b>
		</field>
		<field>
			<a>multiProject</a>
			<b>themeInfo.multiProject</b>
		</field>
		<field>
			<a>commentList</a>
			<b>topicCommentList</b>
		</field>
		<field>
			<a>praiseMemberList</a>
			<b>topicPraiseList</b>
		</field>
		<field>
			<a>voteStatistics</a>
			<b>voteInfo</b>
		</field>
		<field>
			<a>activityStatistics</a>
			<b>activityInfo</b>
		</field>
	</mapping>
	
	<mapping>
		<class-a>com.qding.neighbor.dto.VoteStatisticsDTO</class-a>
		<class-b>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.VoteInfo</class-b>
		<field>
			<a>voteTotalCount</a>
			<b>voteTotalCount</b>
		</field>
		<field>
			<a>memberList</a>
			<b>memberList</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.ActivityTopicStruct</class-a>
		<class-b>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.ActivityInfo</class-b>
		<field>
			<a>endTime</a>
			<b>endTime</b>
		</field>
		<field>
			<a>maxPepole</a>
			<b>activityTotalCount</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.dto.ActivityStatisticsDTO</class-a>
		<class-b>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.ActivityInfo</class-b>
		<field>
			<a>activityCount</a>
			<b>enrollCount</b>
		</field>
		<field>
			<a>gcRoomStatus</a>
			<b>gcRoomStatus</b>
		</field>
		<field>
			<a>activityStatus</a>
			<b>enrollStatus</b>
		</field>
		<field>
			<a>memberList</a>
			<b>memberList</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.dto.TopicCommentDTO</class-a>
		<class-b>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.TopicComment</class-b>
		<field>
			<a>member</a>
			<b>sendMember</b>
		</field>
		<field>
			<a>pMember</a>
			<b>receiveMember</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.dto.BriefMemberDTO</class-a>
		<class-b>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.CommentBriefMember</class-b>
		<field>
			<a>name</a>
			<b>memberName</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.MemberImgConvert">
			<a>headImg</a>
			<b>memberAvatar</b>
		</field>
		<field>
			<a>signatur</a>
			<b>memberSignature</b>
		</field>
		<field>
			<a>accountId</a>
			<b>userId</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.UserSkipModeConvert">
			<a>accountId</a>
			<b>skipModel</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.dto.BriefMemberDTO</class-a>
		<class-b>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.BriefMember</class-b>
		<field>
			<a>name</a>
			<b>memberName</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.MemberImgConvert">
			<a>headImg</a>
			<b>memberAvatar</b>
		</field>
		<field>
			<a>signatur</a>
			<b>memberSignature</b>
		</field>
		<field>
			<a>accountId</a>
			<b>userId</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.UserSkipModeConvert">
			<a>accountId</a>
			<b>skipModel</b>
		</field>

	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.dto.DiscussionGroupUserDTO</class-a>
		<class-b>com.qding.api.call.app.qding.v1_4_1.struct.hotcycle.GroupUser</class-b>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.MemberImgConvert">
			<a>memberHeadImg</a>
			<b>userHeadImageUrl</b>
		</field>
		<field>
			<a>memberName</a>
			<b>userName</b>
		</field>
		<field>
			<a>memberGender</a>
			<b>userSex</b>
		</field>
		<field>
			<a>gcMemberType</a>
			<b>gcMemberType</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.passport.struct.MemberInfo</class-a>
		<class-b>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.BriefMember</class-b>
		<field>
			<a>id</a>
			<b>memberId</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.MemberImgConvert">
			<a>headImg</a>
			<b>memberAvatar</b>
		</field>
		<field>
			<a>name</a>
			<b>memberName</b>
		</field>
		<field>
			<a>signature</a>
			<b>memberSignature</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.hotcycle.struct.response.GetSyncUserByIdResponse</class-a>
		<class-b>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.response.data.GetMemberStatsInfoResponseData</class-b>
		<field>
			<a>user</a>
			<b>entity</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.domain.ActivityTag</class-a>
		<class-b>com.qding.api.call.app.qding.v2_8_0.struct.neighbor.ThemeTagInfo</class-b>
		<field>
			<a>id</a>
			<b>tagId</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.v3.dto.TopicRecommendDto</class-a>
		<class-b>com.qding.api.call.app.qding.v2_8_0.struct.neighbor.NeighborBanner</class-b>
		<field>
			<a>imgUrl</a>
			<b>bannerImg</b>
		</field>
		<field>
			<a>title</a>
			<b>bannerName</b>
		</field>
	</mapping>
	<mapping>
		<class-a>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.index.ChoicenessTopicInfo</class-a>
		<class-b>com.qding.neighbor.v3.dto.TopicRecommendDto</class-b>
		<field>
			<a>id</a>
			<b>topicId</b>
		</field>
		<field>
			<a>type</a>
			<b>topicType</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.v3.dto.NewsDto</class-a>
		<class-b>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.index.BriefNewsInfo</class-b>
		<field>
			<a>typeName</a>
			<b>newsType</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.v3.dto.ActivityDto</class-a>
		<class-b>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.ActivityPiazzaDTO</class-b>

		<field>
			<a>title</a>
			<b>activityName</b>
		</field>
		<field>
			<a>imgUrl</a>
			<b>topImg</b>
		</field>
		<field>
			<a>adress</a>
			<b>addr</b>
		</field>
		<field>
			<a>cost</a>
			<b>consumes</b>
		</field>
		<field>
			<a>limitCount</a>
			<b>activityTotalCount</b>
		</field>
		<field>
			<a>signUpCount</a>
			<b>enrollCount</b>
		</field>
        <field>
            <a>likeCount</a>
            <b>likeCount</b>
        </field>
	</mapping>
	
	<mapping>
		<class-a>com.qding.neighbor.v3.dto.TopicDto</class-a>
		<class-b>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.BriefEncyclopedia</class-b>
		<field>
			<a>topicTitle</a>
			<b>title</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.GetTopicImagListConvert">
			<a>topicImage</a>
			<b>imgUrl</b>
		</field>
		<field>
			<a>bkTypeName</a>
			<b>typeName</b>
		</field>
		<field>
			<a>encyclopediaAuthor</a>
			<b>author</b>
		</field>
	</mapping>
	
	<!-- 3.0转换会员信息 -->
	<mapping>
		<class-a>com.qding.neighbor.v3.dto.EncyclopediaBaseDto</class-a>
		<class-b>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.BriefEncyclopedia</class-b>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.GetTopicImagListConvert">
			<a>img</a>
			<b>imgUrl</b>
		</field>
	</mapping>
	<mapping>
		<class-a>com.qding.neighbor.v3.dto.EncyclopediaBaseDto</class-a>
		<class-b>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.RecommendEncyclopediaDTO</class-b>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.GetTopicImagListConvert">
			<a>img</a>
			<b>topicImage</b>
		</field>
		<field>
			<a>title</a>
			<b>topicTitle</b>
		</field>
	</mapping>
	<mapping>
		<class-a>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.index.BriefTopicInfo</class-a>
		<class-b>com.qding.neighbor.v3.dto.TopicDto</class-b>
		<field>
			<a>topicDesc</a>
			<b>topicDesc</b>
		</field>
		<field>
			<a>memberInfo</a>
			<b>member</b>
		</field>
		<field>
			<a>tagInfo.tagId</a>
			<b>tagId</b>
		</field>
		<field>
			<a>tagInfo.tagName</a>
			<b>tagName</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.v3.dto.MemberDto</class-a>
		<class-b>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.EnrollMember</class-b>
		<field>
			<a>name</a>
			<b>memberName</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.MemberImgConvert">
			<a>headImg</a>
			<b>memberAvatar</b>
		</field>
		<field>
			<a>signatur</a>
			<b>memberSignature</b>
		</field>
		<field>
			<a>accountId</a>
			<b>userId</b>
		</field>
		<field>
			<a>personCount</a>
			<b>personCount</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.UserSkipModeConvert">
			<a>accountId</a>
			<b>skipModel</b>
		</field>
	</mapping>
	<mapping>
		<class-a>com.qding.neighbor.v3.dto.MemberDto</class-a>
		<class-b>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.index.BriefMember</class-b>
		<field>
			<a>name</a>
			<b>memberName</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.MemberImgConvert">
			<a>headImg</a>
			<b>memberAvatar</b>
		</field>
		<field>
			<a>signatur</a>
			<b>memberSignature</b>
		</field>
		<field>
			<a>accountId</a>
			<b>userId</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.UserSkipModeConvert">
			<a>accountId</a>
			<b>skipModel</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.v3.dto.TopicDto</class-a>
		<class-b>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.TopicCommon</class-b>
		<field>
			<a>parentTopicId</a>
			<b>parentTopicId</b>
		</field>
		<field>
			<a>id</a>
			<b>topicId</b>
		</field>
		<field>
			<a>status</a>
			<b>status</b>
		</field>
		<field>
			<a>userId</a>
			<b>userId</b>
		</field>
		<field>
			<a>cityName</a>
			<b>cityName</b>
		</field>
		<field>
			<a>projectName</a>
			<b>projectName</b>
		</field>
		<field>
			<a>createTime</a>
			<b>createTime</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.InitPublishTimeConvert">
			<a>publishTime</a>
			<b>showTime</b>
		</field>
		<field>
			<a>topicTitle</a>
			<b>topicTitle</b>
		</field>
		<field>
			<a>topicType</a>
			<b>topicType</b>
		</field>
		<field>
			<a>subTopicType</a>
			<b>subTopicType</b>
		</field>
		<field>
			<a>topicDesc</a>
			<b>topicDesc</b>
		</field>
		<field>
			<a>topicContent</a>
			<b>topicContent</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.GetTopicImagListConvert">
			<a>topicImage</a>
			<b>topicImage</b>
		</field>
		<field>
			<a>commentCount</a>
			<b>commentCount</b>
		</field>
		<field>
			<a>likeCount</a>
			<b>praiseCount</b>
		</field>
		<field>
			<a>member</a>
			<b>memberInfo</b>
		</field>
		<field>
			<a>isLike</a>
			<b>isPraise</b>
		</field>
		<field>
			<a>listComment</a>
			<b>topicCommentList</b>
		</field>
		<field>
			<a>listLike</a>
			<b>topicPraiseList</b>
		</field>

	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.v3.dto.LableDto</class-a>
		<class-b>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.Tag</class-b>
		<field>
			<a>id</a>
			<b>tagId</b>
		</field>
		<field>
			<a>tagName</a>
			<b>tagName</b>
		</field>
		<field>
			<a>img</a>
			<b>tagImg</b>
		</field>
		<field>
			<a>tagDesc</a>
			<b>tagDesc</b>
		</field>
		<field>
			<a>status</a>
			<b>tagStatus</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.TopicComment</class-a>
		<class-b>com.qding.neighbor.v3.dto.CommentDto</class-b>
		<field>
			<a>sendMember</a>
			<b>member</b>
		</field>
		<field>
			<a>receiveMember</a>
			<b>pMember</b>
		</field>
	</mapping>
	
	<mapping>
		<class-a>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.TopicComment</class-a>
		<class-b>com.qding.neighbor.v3.dto.CommentDto</class-b>
		<field>
			<a>sendMember</a>
			<b>member</b>
		</field>
		<field>
			<a>receiveMember</a>
			<b>pMember</b>
		</field>
	</mapping>
	
	<mapping>
		<class-a>com.qding.neighbor.v3.dto.MemberDto</class-a>
		<class-b>com.qding.api.call.app.qding.v2_6_0.struct.neighbor.CommentBriefMember</class-b>
		<field>
			<a>name</a>
			<b>memberName</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.MemberImgConvert">
			<a>headImg</a>
			<b>memberAvatar</b>
		</field>
		<field>
			<a>signatur</a>
			<b>memberSignature</b>
		</field>
		<field>
			<a>accountId</a>
			<b>userId</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.UserSkipModeConvert">
			<a>accountId</a>
			<b>skipModel</b>
		</field>
	</mapping>
	
	<mapping>
		<class-a>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.ActivityInfo</class-a>
		<class-b>com.qding.neighbor.v3.dto.TopicDto</class-b>
		<field>
			<a>enrollCount</a>
			<b>bmCount</b>
		</field>
		<field>
			<a>startTime</a>
			<b>activityBeginTime</b>
		</field>
		<field>
			<a>endTime</a>
			<b>activityEndTime</b>
		</field>
		<field>
			<a>activityTotalCount</a>
			<b>activityLimitNum</b>
		</field>
		<field>
			<a>addr</a>
			<b>activityAddr</b>
		</field>
		<field>
			<a>invitedPerson</a>
			<b>activityInvitedPerson</b>
		</field>
		<field>
			<a>consumes</a>
			<b>activityExpectedConsumption</b>
		</field>
	</mapping>
	<mapping>
		<class-a> com.qding.neighbor.v3.dto.VoteDto</class-a>
		<class-b>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.TopicCommon</class-b>
		<field>
			<a>id</a>
			<b>topicId</b>
		</field>
		<field>
			<a>title</a>
			<b>topicTitle</b>
		</field>
		<field>
			<a>introduction</a>
			<b>topicDesc</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.GetTopicImagListConvert">
			<a>imgUrl</a>
			<b>topicImage</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.VoteInfo</class-a>
		<class-b>com.qding.neighbor.v3.dto.VoteDto</class-b>
		<field>
			<a>voteType</a>
			<b>optionType</b>
		</field>
		<field>
			<a>voteList</a>
			<b>optionList</b>
		</field>
		<field>
			<a>selOptionIndexs</a>
			<b>myOptions</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.BriefVoteItemDTO</class-a>
		<class-b>com.qding.neighbor.v3.dto.OptionDto</class-b>
		<field>
			<a>voteImg</a>
			<b>imgUrl</b>
		</field>

		<field>
			<a>voteCount</a>
			<b>count</b>
		</field>
	</mapping>


	<mapping>
		<class-a>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.BriefNews</class-a>
		<class-b>com.qding.neighbor.v3.dto.TopicDto</class-b>
		<field>
			<a>newsKeywords</a>
			<b>keywords</b>
		</field>
        <field>
            <a>newsWeight</a>
            <b>newsWeight</b>
        </field>
        <field>
            <a>newsSource</a>
            <b>newsSource</b>
        </field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.v3.dto.TopicBaseDto</class-a>
		<class-b>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.TopicPiazzaDTO</class-b>
		<field>
			<a>id</a>
			<b>topicId</b>
		</field>
		<field>
			<a>img</a>
			<b>topImg</b>
		</field>
		<field>
			<a>type</a>
			<b>subTopicType</b>
		</field>
		<field>
			<a>typeName</a>
			<b>subTopicTypeName</b>
		</field>
		<field>
			<a>title</a>
			<b>topicTitle</b>
		</field>
		<field>
			<a>description</a>
			<b>introduction</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.qding.neighbor.v3.dto.TopicRecommendDto</class-a>
		<class-b>com.qding.api.call.app.qding.v3_0_0.struct.project.ProjectLifeDTO</class-b>

		<field>
			<a>title</a>
			<b>topicTitle</b>
		</field>
		<field>
			<a>imgUrl</a>
			<b>topicImg</b>
		</field>
		<field>
			<a>tag</a>
			<b>interestTag</b>
		</field>
	</mapping>


    <mapping>
        <class-a>com.qding.passport.struct.response.GetAccountResponse</class-a>
        <class-b>com.qding.api.call.app.qding.v3_0_0.struct.neighbor.response.data.GetPersonIndexResponseData</class-b>
        <field>
            <a>memberInfo</a>
            <b>entity.member</b>
        </field>
        <field>
            <a>accountInfo</a>
            <b>entity.user</b>
        </field>
    </mapping>

	<mapping map-id="neighbor">
		<class-a>com.qding.passport.struct.MemberInfo</class-a>
		<class-b>com.qding.api.call.app.qding.v1_3_0.struct.user.Member</class-b>
		<field>
			<a>name</a>
			<b>memberName</b>
		</field>
		<field>
			<a>nickName</a>
			<b>memberNickName</b>
		</field>
		<field custom-converter="com.qding.api.dozer.convert.neighbor.MemberImgConvert">
			<a>headImg</a>
			<b>memberAvatar</b>
		</field>
		<field>
			<a>mobile</a>
			<b>memberMobile</b>
		</field>
		<field>
			<a>signature</a>
			<b>memberSignature</b>
		</field>
		<field>
			<a>gender</a>
			<b>memberGender</b>
		</field>
		<field>
			<a>birthday</a>
			<b>memberBirthday</b>
		</field>
		<field>
			<a>status</a>
			<b>memberStatus</b>
		</field>
		<field>
			<a>familyStatus</a>
			<b>homeSituationIndex</b>
		</field>
	</mapping>
	</mappings>