<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
       http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <mapping>
        <class-a>com.qding.api.call.app.qding.v2_0_0.struct.useraccount.TicketInfo</class-a>
        <class-b>com.qding.oder.dto.ClosepayCouponDetailDto</class-b>
        <field>
            <a>midFrom</a>
            <b>ownerMid</b>
        </field>
        <field>
            <a>midTo</a>
            <b>userMid</b>
        </field>
        <field>
            <a>totalPaymentAmount</a>
            <b>coupon_totaluse_money</b>
        </field>
        <field>
            <a>totalTicketNum</a>
            <b>coupon_totaluse_count</b>
        </field>
        <field>
            <a>usedPaymentAmount</a>
            <b>coupon_monthuse_money</b>
        </field>
        <field>
            <a>usedTicketNum</a>
            <b>coupon_monthuse_count</b>
        </field>
        <field>
            <a>remainQuota</a>
            <b>coupon_available_money</b>
        </field>
        <field>
            <a>remainTicketNum</a>
            <b>coupon_avalible_count</b>
        </field>
    </mapping>

    <mapping>
        <class-a>com.qding.api.call.app.qding.v2_0_0.struct.useraccount.PaymentInfo</class-a>
        <class-b>com.qding.useraccount.struct.PredepositFamilyQuotaInfo</class-b>
        <field>
            <a>midFrom</a>
            <b>midFrom</b>
        </field>
        <field>
            <a>midTo</a>
            <b>midTo</b>
        </field>
        <field>
            <a>totalPaymentAmount</a>
            <b>addUpAmount</b>
        </field>
        <field>
            <a>usedPaymentAmount</a>
            <b>usedPaymentAmountTo</b>
        </field>
        <field>
            <a>remainQuota</a>
            <b>availableQuotaTo</b>
        </field>

    </mapping>

    <mapping>
        <class-a>com.qding.api.call.app.qding.v2_0_0.struct.useraccount.UserFamilyRelationType</class-a>
        <class-b>com.qding.useraccount.struct.UserFamilyRelationType</class-b>
        <field>
            <a>type</a>
            <b>code</b>
        </field>

    </mapping>

    <mapping>
        <class-a>com.qding.passport.domain.Member</class-a>
        <class-b>com.qding.api.call.app.qding.v1_3_0.struct.user.Member</class-b>
        <field>
            <a>id</a>
            <b>memberId</b>
        </field>
        <field>
            <a>name</a>
            <b>memberName</b>
        </field>
        <field>
            <a>nickName</a>
            <b>memberNickName</b>
        </field>
        <field>
            <a>headImg</a>
            <b>memberAvatar</b>
        </field>
        <field>
            <a>mobile</a>
            <b>memberMobile</b>
        </field>
        <field>
            <a>signature</a>
            <b>memberSignature</b>
        </field>
        <field>
            <a>gender</a>
            <b>memberGender</b>
        </field>
        <field>
            <a>birthday</a>
            <b>memberBirthday</b>
        </field>
        <field>
            <a>status</a>
            <b>memberStatus</b>
        </field>
        <field>
            <a>familyStatus</a>
            <b>homeSituation</b>
        </field>
    </mapping>

</mappings>  